@tailwind base;
@tailwind components;
@tailwind utilities;

.dottedBg{
    background-image: url('./assets/Frame\ 3.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.demoHero{
    background-image: url('./assets/demoHeroBg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 8px;
}

.hiddenSecond{
    display: none;
}